body{
    font-family: "Lato";
    font-size: 15px;
    background-color:#eeeeee;  
}
#container {
    width: 80%;
    margin: 0px auto;
}
header {
    background: #206a5d;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white; 
}

#content {
    float: left;
    width: calc(70% - 70px);
    min-height: 500px;
    background: #f6f5f5;
    padding: 35px ;
}
.article:first-child {
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.article {
    color: rosybrown;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #206a5d;
}
aside {
    float: left;
    width: calc(30% - 30px);
    min-height: 850px;
    background: #ee6f57;
    padding: 15px;
}

p {
    color: black;
    line-height: 6mm;
}
li {
    color: black;
    line-height: 6mm;
}
