body{
    font-family: "Lato";
    font-size: 15px;
    background-color:#eeeeee;  
}
main {
    width: 200vh;
    margin-left: 100px;
}

h1 {
    color: purple;
    margin-left: 850px;
}
h2 {
    color:rosybrown;
    margin-left: 20px;
}
p {
    color: black;
    margin-left: 40px;
    line-height: 6mm;
}
li {
    color: black;
    margin-left: 20px;
}
.container {
    display: flex;
    height: 20vh;
    width: 105vh;
    background-color: snow;
}
.intro {
    line-height: 8mm;
}
