body{
    font-family: "Lato";
    font-size: 16px;
    width: 2000;
    margin: 0px;
    background-color:#eeeeee;  
}

h1 {
    color: purple;
    margin-left: 100px;
}
h2 {
    color:rosybrown;
    margin-left: 20px;
}
p {
    color: black;
    margin-left: 40px;
}
li {
    color: black;
    margin-left: 20px;
}
.container {
    display: flex;
    height: 20vh;
    width: 105vh;
    background-color: snow;
}
.basic {
    display: grid;
    grid-template-rows: 4rem auto 200px;
    grid-template-columns: 50% 50%;

}
